<!DOCTYPE html>
@model pdstest.Models.PDFLayout
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.HeaderText</title>
</head>
<body>
    <div>
      @Model.BodyText
    </div>
</body>
</html>
